[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
celery = {extras = ["gevent"], version = "*"}
python-dotenv = "*"
fastapi = {extras = ["all"], version = "*"}
pydantic = "*"
redis = "*"
loguru = "*"

[requires]
python_version = "3.11"

[dev-packages]
